*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins","Actor","Adamina",sans-serif;
    color: white;
    height: 100vh;
}

img{
    max-width: 100%;
    height: auto;
}


.sectionOne-wrapper{
    background: url(../moving\ 1.png) no-repeat center fixed;
    height:100vh;
    width: 100%;
    background-size: cover;
}

/* Navigation */

.navbar{
    overflow: hidden;
    margin-left: 30%;
}

.navbar a{
    float: left;
    font-size: 1.2rem;
    margin:40px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Adamina";
}

.navbar a:nth-child(5), .navbar a:nth-child(6){
    color: black;
    padding: 0px 10px;
    background-color: yellow;
}

.navbar a:nth-child(6){
    background-color: black;
    color: yellow;
}

.navbar a:hover{
    color:yellow;
    font-size:1.5rem;
}

.navbar a:hover:nth-child(5), .navbar a:hover:nth-child(6){
    color: black;
    background-color: white;
}

          /* Home Section Text */
.homeSection-text p:nth-child(1){
    color: yellow;
    font-size: 2.8em;
    padding: 10px 10px;
    margin: 25px 0px 0px 60px;
    font-family: "Adamina";
}


.homeSection-text p:nth-child(2){
    padding: 10px;
    margin-left: 60px;
    font-size: 1.7em;
    color: #e0e0ee;
    padding: 30px;
}


/* Cut the Hustle Section */

.sectionTwo-img{
    width: 40%;
    height: 15vh; 
    margin: 0px; 
    padding: 20px 0 20px; 
    display: inline-block;
}

.sectionTwo-text{
    width: 40%;
    height: 350px;
    display: inline-block;
    color: black;
    vertical-align:top;
    padding: 20px;
    margin: 40px;
    font-size: 1.2em;
}

.sectionTwo-text hr{
    width: 30%;
    margin: 20px 0px;
    /* Set the thickness of the horizontal line */
    height: 3px;
    background: linear-gradient(135deg,hsl(35, 100%, 63%),#040300);
    border-radius: 3px;
}

.sectionTwo-text h3{
    margin: 20px 0px;
    font-size: 2.5em;
    font-family: "Adamina";
}

.sectionTwo-text button{
    margin: 40px 0px;
    padding: 20px 40px;
    border-top-right-radius: 20px;
    border: 1px solid black;
    background:black;
    color: yellow;
    font-size: 1em;
}

.unicode{
    font-size: 35px;
    padding: 10px;
}

/* Our Top Movers Section */

.sectionThree-wrapper{
    height: 1000px;
    background: lightgray;
}

.grid-hr{
    width: 20%;
    margin: 80px;
    /* Set the thickness of the horizontal line */
    height: 4px;
    background: linear-gradient(135deg,hsl(35, 100%, 63%),#040300);
    border-radius: 3px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 700px;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 200px;
    margin: 0px 40px 100px;
}

.grid-hr{
    margin: 20px 20px;
    font-size: 2em;
    font-family: "Poppin";
    color: #040300;
}
.grid-container img{
    height: 200px;
    width: 300px;
    margin-bottom: 0;
}

.grid-item{
    margin: 0 20px;
}

.listing-items{
    background: white;
    width: 300px;
    height: 100px;
    margin-bottom: 30px;
}

.listing-items h3{
    color: black;
    margin-bottom: 15px;
    font-family: "Poppin";
    font-weight: 600;
    padding: 15px;
}

.listing-items li{
    display: inline;
    border: 1px solid lightgrey;
    padding: 5px;
    color: black;   
    margin: 5px; 
}

.fa-solid{
    font-size: 15px;
    color: black;
    padding: 5px;
}


/* Footer */
footer{
    background: black;
    height: 60vh;
}

footer p:nth-child(1){
    font-size: 2em;
    font-family: 'Poppin';
    padding: 100px;
    padding-bottom: 50px;
}

.a-button{
    color: #bf792c;
}

footer hr{
    border: 1px solid lightgrey;
    width: 80%;
    margin: 0 100px;
}


.column-links li{
    display: inline-block;
    padding: 15px 25px;
    vertical-align: middle;
    margin: 20px;
}
footer div{
    display: float;
}
